input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detailContainer {
  width: 80vw;
  background-color: rgba(104, 43, 150, 0.3);
  padding: 30px 0 40px 0;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.exerciseContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.image {
  width: 25vw;
  opacity: 0.9;
  border-radius: 15px;
}

.text {
  width: 35%;
}

.heading {
  font-size: 2.25vw;
  font-weight: 700;
  text-transform: capitalize;
}

.subheading {
  font-size: 1.75rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.description {
  font-size: 1vw;
  font-weight: 400;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.itemName {
  text-transform: capitalize;
}

.items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
  border-radius: 5px;
  margin-top: 51px;
  min-width: 243px;
  margin-right: 50px;
  transition: 0.3s;
}

.addButton:hover {
  background-color: #36074e;
}

.removeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
  border-radius: 5px;
  margin-top: 50px;
  transition: 0.3s;
}

.removeButton:hover {
  background-color: #36074e;
}

.planPopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: #bf5af2;
}

.planPopUpBigTitle {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
}

.planPopUpItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 10px;
}

.planPopUpTitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.planPopUpInput {
  height: 80%;
  width: 30%;
  background-color: rgb(29, 26, 58);
  border-style: outset;
  font-family: "Inter", sans-serif;
  color: white;
  border-color: white;
  text-align: center;
}

.planPopUpInput::placeholder {
  color: white;
  text-align: center;
}
.planPopUpInput:focus {
  outline: 1px solid white;
}

.popUpButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.popUpConfirmButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
  transition: 0.3s;
  margin-top: 15px;
}

.popUpConfirmButton:hover {
  background-color: #36074e;
}

.popUpConfirmButton:active {
  border-style: outset;
}

.popUpCancelButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}

.popUpCancelButton:hover {
  background-color: #191851;
}

.popUpCancelButton:active {
  border-style: outset;
}
