.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;
  margin: 50px;
  background-color: black;
  border-radius: 5px;
}

.planImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.7;
}

.planTitleDiv {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin-bottom: 20px;
  margin-left: 30px;
}

.planTitle {
  font-size: 40px;
  font-weight: 700;
  margin-right: 18px;
}

.planTitleInput {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-right: 18px;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white;
}

.planTitleInput:focus {
  outline: none;
}

.planEditTitleIcon {
  font-size: 30px;
  margin-right: 18px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.planEditTitleIcon:hover {
  color: rgb(183, 182, 182);
  transition: all ease-in-out 0.3s;
}

.planAuthor {
  font-size: 20px;
  font-weight: 500;
}

.planTopRightDiv{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 20px;
  font-size: 25px;
}

.planEditImgIcon {
  margin-right: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.planEditImgIcon:hover {
  color: rgb(183, 182, 182);
  transition: all ease-in-out 0.3s;
}

.planDeleteIcon{
  margin-top: 2px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  color: rgb(205, 75, 75);
}

.planDeleteIcon:hover{
  color: rgb(218, 29, 29);
  transition: all ease-in-out 0.3s;
}

.planDate {
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.planLikes {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
  transition: all ease-in-out 0.3s;
}

.planLikesIcon {
  margin-right: 6px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.planLikesIcon:hover {
  color: rgb(183, 182, 182);
  transition: all ease-in-out 0.3s;
}

.planMid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
}

.planCatDiv {
  width: 17%;
  border-radius: 5px;
  border: 3px solid white;
  background-color: rgb(77, 75, 196);
  margin-bottom: 30px;
}

.planCat {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.planTimeDiv {
  width: 17%;
  border-radius: 5px;
  border: 3px solid white;
  background-color: darkslateblue;
  margin-bottom: 30px;
}

.planTime {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.planDescDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-radius: 5px;
  border: 3px solid white;
  background-color: rgb(114, 81, 172);
  margin-bottom: 30px;
}

.planDescSubDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.planDesc {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}

.planButtonDiv {
  width: 10%;
  border-radius: 5px;
  border: 3px solid white;
  background-color: rgb(99, 22, 141);
  margin-bottom: 30px;
}

.planDescInput {
  font-family: "Inter", sans-serif;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}

.planDescInput:focus {
  outline: none;
}

.planDescEdit {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.planDescEdit:hover {
  color: rgb(183, 182, 182);
  transition: all ease-in-out 0.3s;
}

.planEditDescIcon {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.planEditDescIcon:hover {
  color: rgb(183, 182, 182);
  transition: all ease-in-out 0.3s;
}

.exercises {
  margin: 50px;
}

.exerciseContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
  border-width: 2px 3px 2px 3px;
  border-style: solid;
  border-color: #5c2379;
  transition: 0.3s;
  margin: 0;
}

.exerciseContainer:hover {
  opacity: 0.8;
  background-color: rgb(86, 86, 86, 0.1);
}

.image {
  height: 250px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.time {
  font-size: large;
  margin: 19px 0 0 0;
}

.setReps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.sets {
  font-size: 16px;
  margin: 9px 0;
}

.name {
  font-size: xxx-large;
  text-transform: capitalize;
  margin-left: 50px;
}

.fileTypeContainer input[type="file"] {
  display: none;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.planDeletePop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30vh;
  height: 20vh;
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: #bf5af2;
}

.planDeleteTitle{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.planDeleteConfirmButton{
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
  padding: 5px;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
}

.planDeleteConfirmButton:hover{
  background-color: #36074e;
}

.planDeleteConfirmButton:active{
  border-style: outset;
}

.planDeleteCancelButton{
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
  padding: 5px;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
}

.planDeleteCancelButton:hover{
  background-color: #191851;
}

.planDeleteCancelButton:active{
  border-style: outset;
}

.gridLayoutContainer {
  padding-bottom: 70px;
}
