.react-horizontal-scrolling-menu--scroll-container {
  width: 92vw;
  overflow-x: scroll;
}

.react-horizontal-scrolling-menu--item {
  background-color: rgb(78, 6, 137);
  border-radius: 20px;
  margin: 0 20px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}
