.logo {
  margin: 31px 0 0 0;
  font-size: 2.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/login.jpg);
  background-size: cover;
}

.login {
  position: relative;
  padding: 60px 70px;
  background-color: rgba(15, 2, 25, 0.6);
}

.loginTitle {
  font-size: 50px;
  font-weight: 800;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0 10px 0;
}

.loginInput {
  font-family: "Inter", sans-serif;
  padding: 15px;
  margin: 10px 10px;
  background-color: white;
  border: none;
}

.loginButton {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(120, 7, 120);
  border: none;
  color: white;
  padding: 10px;
  transition: 0.3s;
}

.loginButton:hover {
  background-color: rgb(89, 6, 89);
}

.signUpButton {
  bottom: 10px;
  padding: 7px 10px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.signUpButton:hover {
  background-color: rgb(211, 211, 211, 0.4);
}
