.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  text-shadow: -5px 5px 10px rgb(120, 33, 192);
  transition: 0.3s;
  color: #bf5af2;
  opacity: 0.8;
  font-size: 4.5vw;
  font-weight: 900;
  margin: 40px 0 0 0;
}

.heading:hover {
  text-shadow: -8px 8px 10px rgb(120, 33, 192);
}
