.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainContainer {
  position: relative;
  padding-bottom: 120px;
}

.heading {
  text-align: center;
  text-shadow: -5px 5px 10px rgb(120, 33, 192);
  transition: 0.3s;
  color: #bf5af2;
  opacity: 0.8;
  font-size: 4.5vw;
  font-weight: 900;
  margin: 40px 0 40px 0;
}

.heading:hover {
  text-shadow: -8px 8px 10px rgb(120, 33, 192);
}

.topBar {
  position: relative;
}

.topButton {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 35px;
  bottom: 0;
  gap: 20px;
}

.shareButton {
  height: 40px;
  background-color: rgb(20, 131, 164);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.shareButton:hover {
  background-color: rgb(10, 97, 124);
  transition: all ease-in-out 0.3s;
}

.saveButton {
  height: 40px;
  background-color: rgb(20, 80, 164);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.saveButton:hover {
  background-color: rgb(5, 59, 136);
  transition: all ease-in-out 0.3s;
}

.shareIcon {
  margin: 5px;
}

.noExerciseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.noExercises {
  font-style: italic;
  margin-bottom: 30px;
  font-size: 2vw;
  opacity: 0.9;
}

.addExercises {
  margin: 0 0 50px 0;
  font-size: 1.5vw;
  opacity: 0.8;
}

.exerciseContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-color: #5c2379;
  cursor: grab;
  transition: 0.3s;
  margin: 0;
}

.exerciseContainer:hover {
  opacity: 0.8;
  background-color: rgb(86, 86, 86, 0.1);
}

.image {
  height: 250px;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.time {
  font-size: large;
  margin: 19px 0 0 0;
}

.setReps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.sets {
  font-size: 16px;
  margin: 9px 0;
}

.name {
  font-size: xxx-large;
  text-transform: capitalize;
  margin-left: 50px;
  max-width: 60%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(97, 52, 165, 0) 0%,
    rgb(24, 14, 40) 50%,
    rgba(97, 52, 165, 0) 100%
  );
  width: 100%;
  padding: 30px 0;
  gap: 40px;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 10px 15px;
  background-color: rgb(17, 2, 34, 0.5);
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
  transition: 0.3s;
}

.button:active {
  border-style: solid;
}

.addButton {
  color: #5f259d;
  border-color: #5f259d;
}

.button:hover {
  background-color: rgb(17, 2, 34);
}

.startButton {
  color: #75259d;
  border-color: #75259d;
  min-width: 300px;
}

.planPopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: #bf5af2;
}

.planPopUpBigTitle {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
}

.planPopUpItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 10px;
}

.planPopUpTitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.planPopUpInput {
  height: 80%;
  width: 30%;
  background-color: rgb(29, 26, 58);
  border-style: outset;
  font-family: "Inter", sans-serif;
  color: white;
  border-color: white;
  text-align: center;
}

.planPopUpInput::placeholder {
  color: white;
  text-align: center;
}

.planPopUpInput:focus {
  outline: 1px solid white;
}

.popUpButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.popUpConfirmButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
  transition: 0.3s;
  margin-top: 15px;
}

.popUpConfirmButton:hover {
  background-color: #36074e;
}

.popUpConfirmButton:active {
  border-style: outset;
}

.popUpCancelButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}

.popUpCancelButton:hover {
  background-color: #191851;
}

.popUpCancelButton:active {
  border-style: outset;
}

.sharePop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 40vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: #bf5af2;
}

.writeImgDiv {
  top: 0%;
  position: absolute;
  margin: 50px;
  width: 85%;
  height: 25%;
}

.writeImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeFormGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeFormSubGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.writeTitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.writeIcon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 25px;
  height: 25px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  background-color: #29015c;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.writeIcon:hover {
  background-color: #443952;
  transition: all ease-in-out 0.3s;
}

.writeEditIcon {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.writeEditIcon:hover {
  color: grey;
  transition: all ease-in-out 0.3s;
}

.writeInput {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 60%;
  margin: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}

.writeInput::placeholder {
  color: white;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  margin: 10px;
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  height: 30%;
  min-height: 100px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.writeText::placeholder {
  color: white;
}

.dropDown {
  width: 40%;
  margin: 10px;
  position: relative;
}

.dropDownButton {
  height: 50px;
  width: 100%;
  background-color: rgb(29, 26, 58);
  color: white;
  border-radius: 10px 10px 10px 10px;
  border-color: white;
  cursor: pointer;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

.dropDownButton:hover {
  background-color: rgb(90, 87, 111);
  transition: all ease-in-out 0.3s;
}

.downArrow {
  padding-left: 8px;
}

.dropDownOptionList {
  width: 100%;
  position: absolute;
}

.dropDownOptions {
  padding: 10px;
  padding-left: 20px;
  background-color: rgb(29, 26, 58);
  list-style: none;
  cursor: pointer;
  border-color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border-style: groove;
  border-top: 0ch;
  border-bottom: 0ch;
  border-color: white;
  transition: all ease-in-out 0.3s;
}

.dropDownOptions:hover {
  background-color: rgb(90, 87, 111);
  transition: all ease-in-out 0.3s;
}

.shareButtonList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.shareSubmit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px;
}

.shareSubmit:hover {
  background-color: #36074e;
}

.shareSubmit:active {
  border-style: outset;
}

.shareCancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px;
}

.shareCancel:hover {
  background-color: #191851;
}

.shareCancel:active {
  border-style: outset;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  position: fixed;
  transform: translate(-50%, -50%);
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(191, 90, 242);
}

.timerTitle {
  position: absolute;
  font-weight: 800;
  font-size: 3vw;
  margin: 0;
  top: 4vh;
  text-transform: capitalize;
}

.timerStats {
  display: flex;
  position: absolute;
  align-items: center;
  font-weight: 500;
  top: 10vh;
  opacity: 0.9;
}

.timerImage {
  position: absolute;
  width: 50vh;
  -webkit-mask-image: radial-gradient(
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-repeat: no-repeat;
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timeText {
  font-size: 5vw;
  font-weight: 800;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.textAround {
  font-size: 20px;
  opacity: 0.9;
  margin: 10px 0;
}

.timerIcons {
  display: flex;
  position: absolute;
  bottom: 10vh;
  font-size: 60px;
  gap: 20px;
}

.timeNumber {
  position: absolute;
  bottom: 4vh;
}

.timePrevImage {
  position: absolute;
  left: 10vw;
  width: 30vh;
  -webkit-mask-image: radial-gradient(
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-repeat: no-repeat;
}

.nextExercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10vw;
}

.prevExercise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10vw;
}

.timeNextImage {
  width: 30vh;
  -webkit-mask-image: radial-gradient(
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  -webkit-mask-repeat: no-repeat;
}

.nextTitle {
  font-size: 2rem;
  margin: 0;
}

.nextName {
  margin-top: 10px;
  opacity: 0.8;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 30vh;
}

.fileTypeContainer input[type="file"] {
  display: none;
}
