.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 43px;
  width: 100%;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.option {
  text-decoration: none;
  margin: 0 25px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  opacity: 0.6;
  transition: 0.3s;
}

.option:hover {
  padding: 10px 15px;
  background-color: rgb(105, 102, 102, 0.3);
}

.logo {
  position: absolute;
  left: 7%;
  margin: 0;
  font-size: 2.5rem;
}

.rightNav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 7%;
  gap: 30px;
}

.login {
  position: absolute;
  right: 7%;
  padding: 12px 35px;
  transition: 0.2s;
  color: #bf5af2;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border-color: #bf5af2;
  border-radius: 5px;
}

.login:hover {
  background-color: #3c1152;
}

.login:active {
  border-style: outset;
}

.logout {
  padding: 12px 35px;
  transition: 0.2s;
  color: #bf5af2;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border-color: #bf5af2;
  border-radius: 5px;
}

.logout:hover {
  background-color: #3c1152;
}

.logout:active {
  border-style: outset;
}
