.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  text-align: center;
  text-shadow: -5px 5px 10px rgb(120, 33, 192);
  transition: 0.3s;
  color: #bf5af2;
  opacity: 0.8;
  font-size: 4.5vw;
  font-weight: 900;
  margin: 40px 0 40px 0;
}

.heading:hover {
  text-shadow: -8px 8px 10px rgb(120, 33, 192);
}

.topBar {
  position: relative;
}

.topButton {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 35px;
  bottom: 0;
}

.addButton {
  height: 40px;
  background-color: rgb(93, 71, 236);
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.addButton:hover {
  background-color: rgb(74, 58, 177);
  transition: all ease-in-out 0.3s;
}

.noFoodContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(30vh + 150px);
}

.noFood {
  font-style: italic;
  margin-bottom: 30px;
  font-size: 2vw;
  opacity: 0.9;
}

.addFood {
  margin: 0 0 50px 0;
  font-size: 1.5vw;
  opacity: 0.8;
}

.totalContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99.6%;
  height: 200px;
  border-width: 3px;
  border-style: solid;
  border-color: #5c2379;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0;
}

.totalName {
  font-size: xxx-large;
  text-transform: capitalize;
  margin-left: 50px;
  margin-right: 270px;
  width: 30%;
}

.totalText {
  font-size: large;
  margin: 10px 0 0 0;
}

.foodContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99.6%;
  height: 250px;
  border-width: 1.5px 3px;
  border-style: solid;
  border-color: #5c2379;
  transition: 0.3s;
  margin: 0;
}

.foodContainer:hover {
  opacity: 0.8;
  background-color: rgb(86, 86, 86, 0.1);
}

.image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.name {
  font-size: xxx-large;
  text-transform: capitalize;
  margin-left: 50px;
  width: 30%;
  margin-right: 20px;
}

.statContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.calorieContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: large;
  margin: 19px 0 0 0;
}

.number {
  font-size: x-large;
  font-weight: 700;
  margin: 0;
}

.addPop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 40vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #29015c;
  background: -webkit-linear-gradient(top left, #29015c, #0c012a);
  background: -moz-linear-gradient(top left, #29015c, #0c012a);
  background: linear-gradient(to bottom right, #29015c, #0c012a);
  border-radius: 10px;
  border-style: outset;
  border-color: #bf5af2;
}

.writeImgDiv {
  top: 0%;
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 85%;
  height: 35%;
}

.writeImg {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeFormGroup {
  width: 100%;
  position: absolute;
  top: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeFormSubGroup {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.writeFormSubGroupBot {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.writeTitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.writeIcon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  background-color: #29015c;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.writeIcon:hover {
  background-color: #443952;
  transition: all ease-in-out 0.3s;
}

.writeEditIcon {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.writeEditIcon:hover {
  color: grey;
  transition: all ease-in-out 0.3s;
}

.writeInput {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 60%;
  margin: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}

.writeInput::placeholder {
  color: white;
}

.writeInput:focus {
  outline: none;
}

.fileTypeContainer input[type="file"] {
  display: none;
}

.shareButtonList {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 5%;
  color: white;
}

.shareSubmit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #bf5af2;
  background-color: transparent;
  border-color: #bf5af2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px;
}

.shareSubmit:hover {
  background-color: #36074e;
}

.shareSubmit:active {
  border-style: outset;
}

.shareCancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #5e5ce6;
  background-color: transparent;
  border-color: #5e5ce6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px;
}

.shareCancel:hover {
  background-color: #191851;
}

.shareCancel:active {
  border-style: outset;
}

.planPopUpItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  gap: 30px;
  margin: 10px;
}

.planPopUpItemBot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
  margin: 10px;
}

.planPopUpTitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.planPopUpInput {
  height: 100%;
  width: 40%;
  background-color: rgb(29, 26, 58);
  border-style: outset;
  font-family: "Inter", sans-serif;
  font-size: medium;
  color: white;
  border-color: white;
  text-align: center;
  padding: 3px 0;
}

.planPopUpInput::placeholder {
  color: white;
  text-align: center;
}

.planPopUpInput:focus {
  outline: 1px solid white;
}
