.exploreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exploreTitle {
  text-shadow: -5px 5px 10px rgb(120, 33, 192);
  transition: 0.3s;
  color: rgb(29, 26, 58);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  opacity: 0.8;
  font-size: 4.5vw;
  font-weight: 900;
  margin: 40px 0 0 0;
}

.exploreTitle:hover {
  text-shadow: -8px 8px 10px rgb(252, 166, 180);
}

.exploreBody {
  display: flex;
  flex-direction: column;
}

.planDesc {
  font-family: "Lora", serif;
  font-size: 25px;
  margin: 20px 50px 0px 50px;
}

.dropDownList {
  display: flex;
  flex-direction: row;
  margin: 15px 70px 25px 50px;
  align-items: center;
}

.titleInput {
  height: 35px;
  width: 350px;
  margin-right: 30px;
  padding-left: 5px;
  background-color: rgb(29, 26, 58);
  border-style: ridge;
  border-color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 15px;
}

.titleInput::placeholder {
  color: white;
}

.titleInput:focus {
  outline: 1px solid white;
}

.dropDown {
  width: 300px;
  margin-right: 30px;
  position: relative;
}

.dropDownButton {
  height: 50px;
  width: 300px;
  background-color: rgb(29, 26, 58);
  color: white;
  border-radius: 10px 10px 10px 10px;
  border-color: white;
  cursor: pointer;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

.dropDownButton:hover {
  background-color: rgb(90, 87, 111);
  transition: all ease-in-out 0.3s;
}

.downArrow {
  padding-left: 8px;
}

.dropDownOptionList {
  width: 100%;
  position: absolute;
}

.dropDownOptions {
  padding: 10px;
  padding-left: 20px;
  background-color: rgb(29, 26, 58);
  list-style: none;
  cursor: pointer;
  border-color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  border-style: groove;
  border-top: 0ch;
  border-bottom: 0ch;
  border-color: white;
  transition: all ease-in-out 0.3s;
}

.dropDownOptions:hover {
  background-color: rgb(90, 87, 111);
  transition: all ease-in-out 0.3s;
}

.search {
  width: 300px;
}

.exploreSearchLink {
  text-decoration: none;
  color: inherit;
}

.searchButton {
  display: flex;
  align-items: center;
  text-align: center;

  height: 50px;
  width: 300px;
  background-color: rgb(252, 166, 180);
  border-radius: 10px 10px 10px 10px;
  color: white;
  list-style: none;
  cursor: pointer;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  transition: all ease-in-out 0.3s;
}

.searchButton:hover {
  background-color: pink;
  transition: all ease-in-out 0.3s;
}
